<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Id Provided</title>
  <!-- Add your CSS styles or link to external stylesheets here -->
</head>

<body>
  <h1>No Profile Id Provided</h1>
  <p>Please provide your profile id in the url</p>
</body>

</html>