<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Error</title>
  <!-- Add your CSS styles or link to external stylesheets here -->
</head>

<body>
  <h1>Something went wrong!</h1>
  <p>Something went wrong, please try again in a minute.</p>
</body>

</html>